<h2>Interpolation</h2>
<p>{{ nome }} tem {{idade}} ano ! </p>
<p>{{nome}} tem mais de 28 anos?</p>
<p>{{idade > 28}}</p>
<p>Quanto é {{idade}} + {{um}} ?</p>
<p>{{idade + um}}</p>

<hr>

<h2>Property Binding</h2>
<button [disabled]="ckeckdDisabled">Button</button>

<img [src]="imgSRC" [title]="imgTitle">
<br>
<br>

<hr>

<h2>Event Binding</h2>
<button (click)="alertInfo($event)">Alerta</button>

<div (mousemove)="mouseMoveteste($event)" style="background: red; width: 300px; height: 300px;"></div>


{{position.x}} - {{position.y}}

<br>
<br>

<hr>

<h2>Two-way Binding</h2>
<input [(ngModel)]="nome">
{{nome}}

<br>
<br>

<hr>